@font-face {
  font-family: "Cera";
  font-style: normal;
  font-weight: normal;
  src: url("../font/cera.otf") format("opentype");
}

body {
  background-color: #fff;
  color: #122020;
  font-family: "Cera", sans-serif;
  overflow: hidden;
}

.buttons {
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
}

.buttons > div {
  margin-bottom: 10px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.button {
  display: inline-block;
  text-align: center;
  transition: background-color 0.6s;
  cursor: pointer;
  font-size: 32px;
  color: #ffffff;
  background-color: #00bd91;
  height: 50px;
}

.button:hover {
  background-color: #009871;
}

.adder div {
  transition: background-color 0.6s;
  line-height: 50px;
}

.adder .minus {
  width: 32px;
  padding-left: 6px;
  border-radius: 25px 0 0 25px;
}

.adder .text {
  width: 74px;
}

.adder .plus {
  width: 32px;
  padding-right: 6px;
  border-radius: 0 25px 25px 0;
}

.reset,
.start {
  display: block;
  width: 150px;
  border-radius: 25px;
}

#text-test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.logo {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 150px;
  color: #888;
}

.logo img {
  width: 100%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.help {
  position: fixed;
  top: 48px;
  left: 48px;
  z-index: 1;
  background-color: #ddd;
  border-radius: 16px;
  padding: 32px;
}

.key {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
  color: #444;
}

.key img {
  position: absolute;
  height: 32px;
}

.space-key {
  width: 64x;
}

.key div {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
  color: #444;
}

.cell {
  display: table-cell;
  padding-bottom: 8px;
  vertical-align: middle;
}

.cell.last {
  padding-bottom: 0;
}

.key-cell {
  padding-right: 48px;
}
