@font-face {
  font-family: 'Cera';
  font-style: normal;
  font-weight: normal;
  src: url('../font/cera.otf') format('opentype');
}

body {
    background-color: #fff;
    color: #122020;
    font-family: 'Cera', sans-serif;
}

.buttons {
  display: block;
  position: absolute;
  right: 1em;
  top: 1em;
}

.buttons > div {
  margin-bottom: 10px;
}

.buttons2 {
  display: block;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.buttons2 > div {
  margin-top: 10px;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.button {
  display: inline-block;
  text-align: center;
  transition: background-color 0.6s;
  cursor: pointer;
  font-size: 3em;
  color: #ffffff;
  background-color: #34b78f;
}

.button:hover {
  background-color: #008ca0;
}

.adder div {
  display: inline-block;
  transition: background-color 0.6s;
}

.adder .minus {
  width: 0.8em;
  border-left: 3px solid #14976f;
  border-top: 3px solid #14976f;
  border-bottom: 3px solid #14976f;
  border-radius: 0.3em 0 0 0.3em;
}

.adder .text {
  width: 1.8em;
  border-top: 3px solid #14976f;
  border-bottom: 3px solid #14976f;
}

.adder .plus {
  width: 0.8em;
  border-right: 3px solid #14976f;
  border-top: 3px solid #14976f;
  border-bottom: 3px solid #14976f;
  border-radius: 0 0.3em 0.3em 0;
}

.reset,
.start {
  display: block;
  width: 3.4em;
  height: 1.2em;
  border: 3px solid #14976f;
  border-radius: 0.3em;
  vertical-align: middle;
}

.paused {
  line-height: 1.2em;
}

.running {
  font-size: 0.7em;
  line-height: 1.6em;
}

#text-test {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}
